@media (min-width:500px){
    .gridContainer{
        display: grid;
        grid-template-columns: repeat(4, 2.8rem);
        grid-template-rows: repeat(7, 2.8rem);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
}
    *{
        font-size: 1.4rem;
    }
}